:root {
  --green-border: #246400;
  --green-background: #9FE379;
  --red-border: #B70000;
  --red-background: #FF7878;
  --grey-border: #595959;
  --grey-background: #E8E8E8;

  --blue-accent: #4ca7c8;
  --padding: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  position: relative;
}

aside {
  background-color: #ddf7ffCC;
  box-shadow: .25rem 0 .5rem #bac1c4;
  height: 100%;
  position: absolute;
  top: 0;
  width: 30rem;
  z-index: 20;
  
  header,
  footer {
    align-items: center;
    display: flex;
    height: 4rem;
    justify-content: center;
    padding: var(--padding);
  }

  footer {
    font-style: italic;

    a {
      color: inherit;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: bold;
      text-decoration: none;

      transition: color .2s;

      &:active,
      &:focus,
      &:hover {
        color: var(--blue-accent);
      }
    }
  }

  .content {
    height: calc(100% - 8rem);

    .marker-wrapper {
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: 1fr 1fr;
      padding: var(--padding);

      .item {
        align-items: center;
        background-color: #a3b7bd66;
        border: dashed 2px #a3b7bd66;
        border-radius: .5rem;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: var(--padding);
        user-select: none;

        transition: border .2s;

        &:active,
        &:focus,
        &:hover {
          border: dashed 2px green;
        }

        &.activated {
          border: solid 2px green !important;
        }

        img {
          padding-bottom: var(--padding);
          width: 3rem;
        }

        p {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.map-container {
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 10;

  nav {
    display: flex;
    left: calc(30rem + 1rem);
    height: 6rem;
    justify-content: center;
    position: absolute;
    top: 0;
    width: calc(100vw - 30rem - 2rem);
    z-index: 401;

    div {
      align-items: center;
      background-color: #ddf7ffCC;
      border-bottom-left-radius: .5rem;
      border-bottom-right-radius: .5rem;
      display: flex;
      justify-content: center;
      height: 100%;
      max-width: 100%;
      padding: 0 var(--padding);
      position: absolute;
      overflow-x: auto;
      top: -6rem;
      width: auto;

      transition: top .2s;

      &.show {
        top: 0;
      }

      img {
        cursor: pointer;
        height: 3rem;
        padding: 0 .33rem;
  
        transition: filter .2s;
  
        &.deactivated {
          filter: grayscale(1);
        }
      }
    }
  }
}

.marker-popup {
  max-width: 28rem;
  padding: 1rem 0;
  text-align: center;

  img {
    width: 5rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-style: italic;
    margin-bottom: 1rem;
  }

  i {
    display: block;
    font-size: 1.1rem;
  }

  p {
    margin: 0;
    margin-bottom: 1rem;
  }
  
  a {
    align-items: center;
    background-color: var(--grey-background);
    border: solid 1px var(--grey-border);
    border-radius: .5rem;
    color: black;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    margin: .5rem;
    padding: .5rem 2rem;    
    text-decoration: none;

    img {
      height: 1.2rem;
      padding-right: 1rem;
    }
  }
}

.marker-opened {
  align-items: center;
  background-color: var(--red-background);
  border: solid 1px var(--red-border);
  border-radius: .5rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem .5rem;
  padding: .5rem 2rem;

  &.opened {
    background-color: var(--green-background);
    border-color: var(--green-border);
  }

  h5 {
    font-size: 1.3rem;
  }
}

.modal-overlay {
  align-items: center;
  background-color: rgba(0, 0, 0, .3);
  display: none;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
  transition: opacity .2s;

  .modal {
    background: white;
    border-radius: .5rem;
    padding: 3rem;

    h1 {
      font-size: 2.6rem;
      text-align: center;
    }

    &.timetable-modal {
      width: 60rem;
      max-width: 95%;

      h3 {
        font-size: 1.1rem;
        font-style: italic;
        font-weight: 100;
        margin-bottom: 1rem;
        text-align: center;
      }

      p {
        text-align: center;
      }

      .marker-opened {
        cursor: initial;

        i {
          display: none;
        }
      }
    }
  }
}

.timetable-container {
  border-top: solid 1px gray;
  color: black;
  margin-top: 2rem;
  padding-top: 2rem;
  width: 100%;

  .day {
    align-content: center;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr 6fr;
    height: 3rem;
    justify-content: center;
    padding: 0 1rem;
    text-align: right;

    &.today {
      border: solid 1px grey;
      border-radius: .5rem;
      font-weight: bold;
    }
  }

  .opened-hours {
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    div {
      height: 100%;
      width: 50%;
      
      &.filled {
        align-items: center;        
        background-color: #ddf7ff;
        border: solid 1px #84e2ff;
        display: flex;
        height: 2rem;
        
        &:first-child {
          border-right: none;
          border-top-left-radius: .5rem;
          border-bottom-left-radius: .5rem;
          justify-content: flex-start;
        }

        &:last-child {
          border-left: none;
          border-top-right-radius: .5rem;
          border-bottom-right-radius: .5rem;
          justify-content: flex-end;
        }
      }

      &.splited {
        margin: 0 1rem;

        &:first-child {
          border-bottom-right-radius: .5rem;
          border-right: solid 1px #84e2ff;
          border-top-right-radius: .5rem;
          justify-content: center;
          margin-right: .5rem;
        }

        &:last-child {
          border-bottom-left-radius: .5rem;
          border-left: solid 1px #84e2ff;
          border-top-left-radius: .5rem;
          justify-content: center;
          margin-left: .5rem;
        }
      }


      &.closed {
        font-style: italic;
        text-align: center;
        width: 100%;
      }
    }

    p {
      padding: 0 1rem;
    }
  }
}

.search-modal {
  .filtering-element {
    align-items: center;
    display: flex;

    img {
      width: 2rem;
    }

    p {
      padding-left: 1rem;
    }
  }
}

/* Polygons */
[class^="line"] {
  fill-opacity: 0.1;
  transition: .2s all;

  &:active,
  &:focus,
  &:hover {
    fill-opacity: 0.4;
  }
}

/* Responsive rules */

@import './utils/responsive';
